*{
  cursor:alias;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #000000;
}

a:visited {
  color: rgb(61, 255, 255);
}

a:focus {
  background: #ffffff;
}

a:hover {
  background: #ffffff;
  filter:blur(1px);
  color: rgb(61, 255, 255);
}

a:active {
  background: rgb(204, 255, 255);
  color: rgb(61, 255, 255);
}

.navbar{
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 900;
}

.navdiv{
  background-color: rgb(255, 255, 255);
  display:flex;
  align-items:center;
  justify-content:left;
}

li{
  list-style: none;
  display: inline-block;
}

li a{
  color: black;
  margin-right: 15px;
}



.main-text{
    position: absolute;
    top: 40px;
    width: 335px;
    line-height: 105%;
}





@media(min-width:1000px){
    img{
      width: 200%;
    }

}



@media(max-width:1000px){
    img{
      width: 80%;
    }

}






.hover-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-image {
  position: absolute;
  top: 10px;            /* ajuste la position */
  left: 10%;
  width: 60%;
  z-index: 10;         /* au premier plan */
  display: none;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.hover-container:hover .hover-image {
  display: block;
}

